/*==============================================
        CSS FOR GALLERY TEMPLATE
===============================================*/
#tab-content-gallery{
    border: crimson solid;
    padding:1rem;
    margin-top: 1rem ;
    margin-bottom: 1rem;
}