/*==============================================
        CSS FOR ENTER SIGHTING TEMPLATE
===============================================*/

label {
    color:#212121;
}

input[type=submit]:hover{
    color: #FFFFFF;
    width: 100%;
}

input[type=submit]{
    width: 100%;
}