/*==============================================
        CSS FOR ABOUT TEMPLATE
================================================*/
.container-content{
    /*border: crimson solid;*/
    padding:1rem;
    margin-top: 1rem ;
    margin-bottom: 1rem;
}