{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('BioTourS Admin Dashboard') }}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/admin-base-style.css' %}"/>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {{ site_header|default:_('BioTourS Admin Dashboard') }}
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
